*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.clear{
    clear: both;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 3.6rem;
    padding: 5rem 0rem;
}
a{
    color: gray;
    text-decoration: none;
}
nav{
    background: white;
    padding: 2rem;
    position: fixed;
    width: 100%;
}
ul{
    color: black;
}
nav h1{
    float: left;
    color: grey;
}
nav ul{
    font-size: 1.5rem;
    float: right;
    list-style: none;

}
nav li{
    float: left;
    margin: 0rem 4rem;
}
.dropdown {
    font-size: 1.5rem;
    float: right;
    height: 2rem;
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .projects,
  .about {
    position: relative;
  }
  
  .projects ul,
  .about ul {
    margin-top: 20px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 200px;
    background: white;
    left: 0px;
    list-style: none;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.4s ease;
  }
  .projects li,
  .about li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .projects li:hover,
  .about li:hover {
    background-color: rgb(227, 227, 227);
  }
  
  .projects a,
  .about a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  .dropdown button,
  .home {
    background: none;
    text-decoration: none;
    border: none;
    color: rgb(115, 115, 115);
    font-size: 1,5rem;
    cursor: pointer;
  }
  
  .projects button:focus + ul,
  .about button:focus + ul {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
  }
.slide {
    width: 100vw;
    height: 100vh;
  }
.wrapper {
    display: flex;
    flex-direction: row;
    width: 400vw;
    height: 80rem;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 1rem;
   
  }
.one {
    background-image: url(/images/webrender.jpeg);
    height: 80rem;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 1rem;
  }
.two {
    background-image: url(/images/webrender.jpeg);
    height: 80rem;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 1rem;
}
.three {
    background-image: url(/images/webrender.jpeg);
    height: 80rem;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 1rem;
  }
.four {
    background-image: url(/images/webrender.jpeg);
    height: 80rem;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 1rem;
  }
  
